<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- 👇 这里改成：启动页 + 设为入口 -->
        <activity
            android:name=".ui.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.user.UserCenterActivity"
            android:exported="false" />
        <activity
            android:name=".ui.setting.SettingActivity"
            android:exported="false" />
        <activity
            android:name=".ui.emotion.EmotionStatActivity"
            android:exported="false" />
        <activity
            android:name=".ui.diary.DiaryDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.diary.DiaryEditActivity"
            android:exported="false" />
        <activity
            android:name=".ui.diary.DiaryListActivity"
            android:exported="false" />
        <activity
            android:name=".ui.login.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".ui.login.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".ui.diary.DiaryHomeActivity"
            android:exported="false" />

        <!-- 👇 MainActivity 去掉启动入口，变成普通页面 -->
        <activity
            android:name=".MainActivity"
            android:exported="false" />

    </application>

</manifest>