<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.theme.ThemeSwitchActivity"
            android:exported="false" />
        <activity
            android:name=".ui.diary.DiaryDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.diary.DiaryListActivity"
            android:exported="false" /> <!-- ✅ 唯一正确的启动页（情感日记启动页） -->
        <activity
            android:name=".ui.splash.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.user.UserCenterActivity"
            android:exported="false" />
        <activity
            android:name=".ui.setting.SettingActivity"
            android:exported="false" />
        <activity
            android:name=".ui.emotion.EmotionStatActivity"
            android:exported="false" />
        <activity
            android:name=".ui.diary.DiaryEditActivity"
            android:exported="false" />
        <activity
            android:name=".ui.login.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".ui.login.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".ui.diary.DiaryHomeActivity"
            android:exported="false" />
        <activity
            android:name=".ui.main.MainActivity"
            android:exported="false" />
        <activity
            android:name=".ui.about.AboutUsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.personal.PersonalCenterActivity"
            android:exported="false" />
        <activity
            android:name=".ui.login.ForgetPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".ui.login.ChangePasswordActivity"
            android:exported="false" />
        <activity
            android:name=".ui.user.UserInfoEditActivity"
            android:exported="false" />
        <activity
            android:name=".ui.diary.DiarySearchActivity"
            android:exported="false" />
        <activity
            android:name=".ui.diary.DiaryCategoryActivity"
            android:exported="false" />
        <activity
            android:name=".ui.diary.DiaryCalendarActivity"
            android:exported="false" />
        <activity
            android:name=".ui.diary.DiaryRecycleActivity"
            android:exported="false" />
        <activity
            android:name=".ui.audio.AudioInputActivity"
            android:exported="false" />
        <activity
            android:name=".ui.image.ImagePreviewActivity"
            android:exported="false" />
        <activity
            android:name=".ui.share.DiaryShareActivity"
            android:exported="false" />
        <activity
            android:name=".ui.emotion.WeekEmotionChartActivity"
            android:exported="false" />
        <activity
            android:name=".ui.emotion.MonthEmotionTrendActivity"
            android:exported="false" />
        <activity
            android:name=".ui.emotion.StatOverviewActivity"
            android:exported="false" />
        <activity
            android:name=".ui.recommend.MoodQuoteActivity"
            android:exported="false" />
        <activity
            android:name=".ui.recommend.EmotionAdviceActivity"
            android:exported="false" />
        <activity
            android:name=".ui.theme.FontSizeActivity"
            android:exported="false" />
        <activity
            android:name=".ui.theme.BgCustomActivity"
            android:exported="false" />
        <activity
            android:name=".ui.theme.ListStyleActivity"
            android:exported="false" />
        <activity
            android:name=".ui.reminder.ReminderSettingActivity"
            android:exported="false" />
        <activity
            android:name=".ui.emotion.MoodCheckinActivity"
            android:exported="false" />
        <activity
            android:name=".ui.emotion.MoodCalendarActivity"
            android:exported="false" />
        <activity
            android:name=".ui.emotion.MoodDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.recommend.RecommendActivity"
            android:exported="false" />
    </application>

</manifest>